.post_navbar {
  grid-area: 1/1/1/4;
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  border-bottom: 1px solid #DBDBDB;
}

nav {

}
